/* colour palette https://atlassian.design/foundations/color-new/color-palette-new */

@font-face {
    font-family: 'PT sans';
    src: url('/css/fonts/PTSans-Bold.ttf');
}

/* misc */
body {
    margin: auto;
    width: auto;
    height: 100%;
    background-color: rgb(34,39,43); /* DarkNeutral0 */
    font-family: "PT sans", Helvetica, sans-serif;
    transition: background-color 0.33s;
    /*overflow-x: hidden;*/
}

/* site mode slider https://medium.com/@eshanley88/how-to-create-a-light-and-dark-mode-toggle-1b884d510188*/

/* top nav */

.header {
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    width: auto;
    padding: 1em 2.5em;
    background: rgb(16, 18, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navTitle {
    font-size: 2em;
    color: white;
    text-decoration: none;
}

.navBar ul {
    list-style-type: none;
    overflow: hidden;
}

.navBar li {
    float: right;
}

.navBar li a, .navBar li button{
    position: relative;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    margin-left: 0.7em;
}

.navBar li button {
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    margin-left: 0.7em;
}

.navBar li a:hover, .navBar li button:hover {
    color: lightblue;
}

.navBar li a::before, .navBar li button::before {
    content: '';    
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0.05em;
    background: lightblue;
    transition: .2s;
}

.navBar li a:hover::before, .navBar li button:hover::before {
    width: 100%;
}

/* bottom nav */

.footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em 2.5em;
    background: rgb(16, 18, 20);
    z-index: 100;
    text-align: center;
}

.footer ul {
    display: inline-block;
    float: none;
}

.footer a {
    font-size: 2.25em;
    color: white;
    text-decoration: none;
    padding: 0.1em;
    padding-top: 0;
    padding-bottom: 0;
}

.footer a:hover {
    color: lightblue;
}

/* main body section */

.mainBody {
    display: flex;
    justify-content: center;
}

.mainBody a {
    color: white;
    text-decoration: none;
}

/* Login Page REDOING LOGIN 1/7/24*/
.loginBackground {
    display: show;
    position: fixed;
    z-index: 101;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    overflow: auto;
    padding-top: 60px;
    background-color: white;
    margin: 5% auto 15% auto;
    padding: 16px;
    color: black;
}

.loginTop {
    text-align: center;
    width: 100%;
}

.loginTop h2 {
    font-size: 2em;
}

.loginContent {
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: block;    
}

input[type=text] {
    box-sizing: border-box;
    border: none;
    width: 100%;
    background-color: whitesmoke;
    padding: 1em 0.4em 1em 0.4em;
    margin-top: 0.2em;
    font-size: 1em;
}

.formButtonHolder {
    display: flex;
    justify-content: center;
    border: none;
    width: auto;
}

.loginSubmit {
    text-align: center;
    margin-top: 20px;
    width: 30%;
    border: none;
    font-size: 1em;
    padding: 0.75em;
}

.loginText {
    font-size: 0.9em;
}